@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
  margin: 0;
  text-align: center;
  width: 100%;
  /* background-color: yellow; */
}

/*this removes the bullet points for all lists on all pages*/
li {
  list-style-type: none;
}

/*this removes the underline for all links on all pages*/
a {
  text-decoration: none;
  color: black;
}

.homepage {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  margin: 30px;
  row-gap: 30px;
  max-width: 100%;
  /* background-color: pink; */
}

/*container holding the scrolling title*/
.title {
  height: 70px;
  overflow: hidden;
  position: relative;
}

/*scrolling text*/
.title h1 {
  font-size: 2em;
  font-style: italic;
  color: #d1b7a1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 40;
  line-height: 50px;
  text-align: center;
  /*starting position of scrolling text*/
  -moz-transform: translate (100%);
  -webkit-transform: translate (100%);
  transform: translateX(100%);
  /*applying animation to the text by defining the duration and and the iteration count*/
  -moz-animation: title 25s linear infinite;
  -webkit-animation: title 25s linear infinite;
  animation: title 25s linear infinite;
}

@-moz-keyframes title {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes title {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes title {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.closetpage {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

h1 {
  font-family: 'Cormorant', serif;
  letter-spacing: 1.5px;
}

h3 {
  text-transform: uppercase;
  font-family: 'Cormorant', serif;
  letter-spacing: 1.5px;
}

h4 {
  text-transform: uppercase;
  font-family: 'Cormorant', serif;
  letter-spacing: 1px;
  color: #black;
}

.clothes-container {
  position: relative;
}

img {
  width: 400px;
  max-width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
}

.brand {
  background-color: #e9d2c0;
  opacity: 0.7;
  color: black;
  padding: 16px 32px;
}

/*this styles the opacity of the image while hovering*/
.clothes-container:hover .clothes-img {
  opacity: 0.5;
}

/*this styles the opacity of the container while hovering*/
.clothes-container:hover .overlay {
  opacity: 1;
}

#price {
  background-color: #e9d2c0;
  max-width: 100px;
  padding: 10px;
  margin-right: 15px;
  display: inline-flex;
  font-size: 20px;
}

#buy-button {
  text-transform: capitalize;
  background-color: white;
  border: 2px solid #e9d2c0;
  padding: 10px;
  max-width: 100px;
  display: inline-flex;
  font-size: 20px;
  cursor: pointer;
}

#buy-button:hover {
  color: white;
  background-color: #e9d2c0;
}

.navbar {
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 55px;
  background-color: #e9d2c0;
  font-size: 20px;
  font-family: 'Cormorant', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 130px;
  align-items: center;
}

.navbar li:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
  transition: all 280ms ease-in-out;
  width: 10rem;
  cursor: pointer;
}

/*Style the input container*/
.login-container {
  float: right;
}

/* Style the input field inside the navbar */
.navbar input[type='text'] {
  padding: 5px;
  font-family: 'Cormorant', serif;
  margin-right: 19px;
  font-size: 16px;
  border: none;
  width: 150px;
}

/* Style the button inside the input container */
.navbar .login-container button {
  float: right;
  font-family: 'Cormorant', serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px;
  margin-right: 19px;
  font-size: 13px;
  background: #e9d2c0;
  border: 1px solid black;
  cursor: pointer;
}

.navbar .login-container button:hover {
  background: white;
}

.footerbar {
  /* position: absolute; */
  position: relative;
  height: 30rem;
  overflow: hidden;
  background-color: #e9d2c0;
  font-size: 20px;
  font-family: 'Cormorant', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding-top: 10px;
}

/* .carousel { */
/* position: relative; */
/* } */

.footer-wrap {
  display: inline-flex;
  justify-content: center;
  gap: 40px;
}

.carousel .gallery img {
  align-content: center;
  object-fit: cover;
  width: 270px;
  height: 270px;
}

.footerbar img {
  height: 100%;
  width: 100;
}
